@import "../../../constants/color";

.mains_div {
    width: 100%;
    padding: 1rem;

    .box_div {
        width: 100% !important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
        height: 3rem;
        border-radius: 12px;
        min-height: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin-bottom: 1rem;

        .containe {
            display: flex;
            align-items: center;
            height: 100%;
            gap: 10px;

            .icon {
                font-size: 40px !important;
                color: $primary;
            }

            .containe_title {
                font-weight: 600;
                font-size: 16px;
            }

            .containe_title2 {
                font-size: 14px;
            }
        }

        .right_icon {
            color: green;
            font-size: 1.5rem;
            cursor: pointer;

        }
    }



}